body {
    background-color: lightgray;
    background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
}

header {
    margin-left: 20px;
}
.menu-bar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.menu-bar ul {
    list-style: none;
    padding: 10px;
    margin: 0px 0px 0px 20px;
}

.menu-bar li {
    display: inline-block;
    padding: 5px;
}

.menu-bar a {
    text-decoration: none;
}

.menu-bar a.active {
    border-bottom: 1px solid black;
}

main {
    margin: 20px;
}

h2 {
    text-align: center;
}

p {
    padding: 10px;
}
footer {
    border-top: 1px solid black;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.card {
    display: inline-block;
    /*border: 1px solid black;*/
    padding: 5px;
    width: 300px;
    margin: 10px;
}

.card .card-header {
    text-align: center;
    font-weight: bold;
}

.card .card-image {
    text-align: center;
}

.card .card-image img{
    width: 150px;
    height: 100px;
}

.card .card-footer {
    text-align: center;
}

.price {
    display: inline-block;
    width: 48%;
    text-align: center;
}

.price-actual {
    text-decoration: line-through;
}